@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

:root{
    --primcolor: #00008B;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: #FF270B;
}

a{
    text-decoration: none;
}

.al-center{
    text-align: center !important;
}

.section{
    position: relative;
    width: 100%;
    padding: 4rem 2rem;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.container-left{
    position: relative;
    width: 50%;
    height: auto;
    padding: 2rem 1rem;
    text-align: left;
}
.container-right{
    position: relative;
    width: 50%;
    height: 100%;
}

.container-heading{
    position: relative;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fec107;
}
.container-desc{
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: darkslategrey;
    font-weight: 500;
}


.horizontal{
    flex-direction: row;
    justify-content: space-evenly;
}
.vertical{
    flex-direction: column;
    justify-content: center;
}


.section-heading{
    position: relative;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}

.subtitle{
    position: relative;
    margin: 0 auto 2rem;
    font-size: 1rem;
    max-width: 80%;
    color: darkslategray;
    font-weight: 500;
    text-align: center;
}


header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    background: #000;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}
.nav-logo{
    position: relative;
    align-self: center;
    width: 100px;
    height: auto;
    object-fit: contain;
}
.logo-title{
    font-family: 'Orbitron', sans-serif;
    margin-left: 2rem;
    color: gold;
}


.hero{
    position: relative;
    width: 100%;
    height: auto;
}
.hero-container{
    background-color: #FFF;
    text-align: center;
}
.hero-left{
    width: 55vw;
}
.hero-container h1{
    color: #fec107;
}
.hero-container p{
    color: #fec107;
}
.hero-right{
    width: 45vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: url('./img/heroimg.png') center/contain no-repeat; */
}
.hero-anim{
    position: relative;
    width: 500px;
    height: 500px;
}
.hero-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #FFF;
}
.hero-desc{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: left;
    color: #FFF;
}
.main-btn{
    position: relative;
    margin-top: 4rem;
    width: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f04400;
    color: #FFF;
    font-weight: 500;
    border-radius: 28px;
    transition: all .3s ease-in-out;
}
.main-btn p{
    color: #FFF;
}
.main-btn:hover{
    background: rgb(163, 121, 13) !important;
    transform: scaleX(1.05);
}


.poster{
    height: auto;
    background: url('./img/posterbg.png') center/cover no-repeat;
    color: #FFF;
}
.poster-container{
    margin-top: 4rem;
}
.poster-right{
    width: 50%;
    text-align: end;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.devices{
    position: relative;
    width: 720px;
}



.features{
    background-color: #FF270B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ff260d' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ff2610' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ff2612' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ff2515' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FF2517' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ff3616' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ff4814' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ff5a13' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ff6c11' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FF7E10' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.features .section-heading{
    color: #fec107;
}
.features-container{
    margin-top: 2rem;
    flex-wrap: wrap;
}
.features-item{
    position: relative;
    margin: 1rem;
    width: 280px;
    height: 320px;
    padding: 1rem;
    background-color: #FFF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.features-item:hover{
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
}
.features-item--img{
    position: relative;
    width: 96px;
    height: auto;
    margin-bottom: 2rem;
}
.card-anim{
    position: relative;
    margin-bottom: 2rem;
    width: 120px;
    height: 120px;
}
.features-item--title{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
.features-item--desc{
    text-align: center;
}


.gallery{
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #000, rgb(60, 5, 5));
}
.gallery h1{
    color: gold;
}
.gallery-img{
    width: 280px;
    height: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.splide__slide{
    width: 280px;
    height: auto;
    border-radius: 16px;
}
.splide__arrow{
    position: relative;
    margin-top: 2rem;
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    display: grid;
    place-content: center;
    background: rgba(0, 0, 50, 0.8);
}


.aboutus{
    height: 100vh;
    clip-path: polygon(0% 0%, 50% 15%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #FFF;
}
.aboutus-container{
    justify-content: space-between !important;
}
.about-img{
    position: absolute;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    border-radius: 16px;
    transition: all .3s ease;
}
.about-img:hover{
    transform: scale(1.1);
}
.img1{
    top: 1rem;
    left: 0;
    width: 320px;
}
.img2{
    top: 0;
    right: 3rem;
    width: 240px;
    z-index: 2;
}
.img3{
    bottom: 1rem;
    left: 1rem;
    width: 340px;
}
.img4{
    bottom: 0;
    right: 0;
    width: 240px;
}


.partners{
    background: #FFF;
    padding: 1rem;
}
.partners .section-heading{
    color: #fec107;
}

.partners-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partner-card{
    position: relative;
    width: 24vw;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: #FFF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s ease;
}
.partner-card:hover{
    transform: translateY(-5px);
}

.partner-card--img{
    position: relative;
    margin-right: 1rem;
    width: 64px;
    height: 64px;
    object-fit: contain;
}
.full-img{
    position: relative;
    width: 100% !important;
    height: auto;
    margin: unset !important;
}

.disclaimer{
    position: relative;
    text-align: left;
}





.contact{
    padding: 0;
    height: 100vh;
    background: url('./img/contactbg.jpg') center/cover no-repeat;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(50, 0, 0, 0.45);
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: rgb(40,0,20);
    font-size: .8rem;
    color: #FFF;
}


@media (max-width: 768px) {

    header{
        padding: 1rem;
    }
    .nav-logo{
        width: 60px;
        margin-right: -1rem;
    }
    .logo-title{
        font-size: 1.25rem;
    }

    .section{
        padding: 0rem;
    }
    .section-heading{
        margin-top: 2rem;
        font-size: 2rem;
    }

    .hero{
        height: auto;
    }
    .hero-heading{
        font-size: 1.9rem;
        text-align: center;
    }
    .hero-desc{
        font-size: 1rem;
    }

    .hero-anim{
        width: 100vw;
    }

    .features-item{
        margin: 1rem 0;
    }

    .horizontal{
        flex-direction: column;
    }
    .container-left, .container-right{
        width: 100%;
        padding: 0;
    }

    .tagline{
        font-size: 1.2rem;
    }
    .poster-right{
        width: 100%;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .devices{
        width: 80vw;
    }

    .partner-card{
        width: 100%;
    }
    

    .aboutus{
        padding-top: 6rem;
        height: auto;
        clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 100%, 0% 100%);
    }
    .about-right{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-img{
        position: relative;
        width: 150px;
        box-shadow: none;
    }
    .img1{
        top: 0;
        left: 0;
        display: none;
    }
    .img2{
        top: 0;
        right: 0;
        display: none;
    }
    .img3{
        width: 100%;
        top: unset;
        left: unset;
    }
    .img4{
        bottom: 0;
        right: 0;
        display: none;
    }
    .container-desc{
        font-size: 1rem;
    }


    .splide__slide, .gallery-img{
        width: 90vw;
    }

    footer p{
        font-size: .5rem;
    }
}