@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root{
    --primcolor: #00008B;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.al-center{
    text-align: center !important;
}

.section{
    position: relative;
    width: 100%;
    padding: 4rem 2rem;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.container-left{
    position: relative;
    width: 50%;
    height: auto;
    padding: 2rem 1rem;
    text-align: left;
}
.container-right{
    position: relative;
    width: 50%;
    height: 100%;
}

.container-heading{
    position: relative;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 2.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fec107;
}
.container-desc{
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: darkslategrey;
    font-weight: 500;
}


.horizontal{
    flex-direction: row;
    justify-content: space-evenly;
}
.vertical{
    flex-direction: column;
    justify-content: center;
}


.section-heading{
    position: relative;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}

.subtitle{
    position: relative;
    margin: 0 auto 2rem;
    font-size: 1rem;
    max-width: 80%;
    color: darkslategray;
    font-weight: 500;
    text-align: center;
}


header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: .5rem 2rem;
    background: #222222;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}
.nav-logo{
    position: relative;
    align-self: center;
    width: 5rem;
    height: auto;
    object-fit: contain;
}
.logo-title{
    font-weight: 700;
    margin-left: 0;
    color: gold;
}


.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}
.hero-video{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.hero-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
}
.hero-left{
    width: 55vw;
}
.hero-title{
    font-size: 4rem;
    font-weight: 600;
    color: #fec107;
}
.hero-container p{
    color: #fec107;
}
.hero-right{
    width: 45vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: url('./img/heroimg.png') center/contain no-repeat; */
}
.hero-anim{
    position: relative;
    width: 500px;
    height: 500px;
}
.hero-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #FFF;
}
.hero-desc{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: left;
    color: #FFF;
}
.main-btn{
    position: relative;
    margin-top: 4rem;
    width: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f04400;
    color: #FFF;
    font-weight: 500;
    border-radius: 28px;
    transition: all .3s ease-in-out;
}
.main-btn p{
    color: #FFF;
}
.main-btn:hover{
    background: rgb(163, 121, 13) !important;
    transform: scaleX(1.05);
}


.poster{
    height: auto;
    background: url('./img/posterbg.png') center/cover no-repeat;
    color: #FFF;
}
.poster-container{
    margin-top: 4rem;
}
.poster-right{
    width: 50%;
    text-align: end;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.devices{
    position: relative;
    width: 720px;
}



.features{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-49 11.2) rotate(7 1409 581) scale(1.028)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-28 28) rotate(8.4 800 450) scale(1.014)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(25.2 -84) rotate(84 401 736) scale(1.014)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(168 -11.2) rotate(2.8 150 345) scale(0.972)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(-112 -70) rotate(100.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-168 56) rotate(16.8 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.features .section-heading{
    color: #fec107;
}
.features-container{
    margin-top: 2rem;
    flex-wrap: wrap;
}
.features-item{
    position: relative;
    margin: 1rem;
    width: 280px;
    height: 320px;
    padding: 1rem;
    background-color: #FFF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.features-item:hover{
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
}
.features-item--img{
    position: relative;
    width: 96px;
    height: auto;
    margin-bottom: 2rem;
}
.card-anim{
    position: relative;
    margin-bottom: 2rem;
    width: 120px;
    height: 120px;
}
.features-item--title{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
.features-item--desc{
    text-align: center;
}


.gallery{
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #000, rgb(60, 5, 5));
}
.gallery h1{
    color: gold;
}
.gallery-img{
    width: 280px;
    height: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.splide__slide{
    width: 280px;
    height: auto;
    border-radius: 16px;
}
.splide__arrow{
    position: relative;
    margin-top: 2rem;
    width: 24px;
    height: 24px;
    font-size: 1.2rem;
    display: grid;
    place-content: center;
    background: rgba(0, 0, 50, 0.8);
}


.aboutus{
    height: 100vh;
    clip-path: polygon(0% 0%, 50% 15%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #FFF;
}
.aboutus-container{
    justify-content: space-between !important;
}
.about-img{
    position: absolute;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    border-radius: 16px;
    transition: all .3s ease;
}
.about-img:hover{
    transform: scale(1.1);
}
.img1{
    top: 1rem;
    left: 0;
    width: 320px;
}
.img2{
    top: 0;
    right: 3rem;
    width: 240px;
    z-index: 2;
}
.img3{
    bottom: 1rem;
    left: 1rem;
    width: 340px;
}
.img4{
    bottom: 0;
    right: 0;
    width: 240px;
}


.partners{
    background: #FFF;
    padding: 1rem;
}
.partners .section-heading{
    color: #fec107;
}

.partners-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partner-card{
    position: relative;
    width: 24vw;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: #FFF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s ease;
}
.partner-card:hover{
    transform: translateY(-5px);
}

.partner-card--img{
    position: relative;
    margin-right: 1rem;
    width: 64px;
    height: 64px;
    object-fit: contain;
}
.full-img{
    position: relative;
    width: 100% !important;
    height: auto;
    margin: unset !important;
}

.disclaimer{
    position: relative;
    text-align: left;
}





.contact{
    padding: 0;
    height: 100vh;
    background: url('./img/contactbg.jpg') center/cover no-repeat;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(50, 0, 0, 0.45);
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: rgb(40,0,20);
    font-size: .8rem;
    color: #FFF;
}


@media (max-width: 768px) {

    header{
        padding: 1rem;
    }
    .nav-logo{
        width: 60px;
        margin-right: -1rem;
    }
    .logo-title{
        font-size: 1.25rem;
    }

    .section{
        padding: 0rem;
    }
    .section-heading{
        margin-top: 2rem;
        font-size: 2rem;
    }

    .hero{
        height: auto;
    }
    .hero-heading{
        font-size: 1.9rem;
        text-align: center;
    }
    .hero-desc{
        font-size: 1rem;
    }

    .hero-anim{
        width: 100vw;
    }

    .features-item{
        margin: 1rem 0;
    }

    .horizontal{
        flex-direction: column;
    }
    .container-left, .container-right{
        width: 100%;
        padding: 0;
    }

    .tagline{
        font-size: 1.2rem;
    }
    .poster-right{
        width: 100%;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .devices{
        width: 80vw;
    }

    .partner-card{
        width: 100%;
    }
    

    .aboutus{
        padding-top: 6rem;
        height: auto;
        clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 100%, 0% 100%);
    }
    .about-right{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-img{
        position: relative;
        width: 150px;
        box-shadow: none;
    }
    .img1{
        top: 0;
        left: 0;
        display: none;
    }
    .img2{
        top: 0;
        right: 0;
        display: none;
    }
    .img3{
        width: 100%;
        top: unset;
        left: unset;
    }
    .img4{
        bottom: 0;
        right: 0;
        display: none;
    }
    .container-desc{
        font-size: 1rem;
    }


    .splide__slide, .gallery-img{
        width: 90vw;
    }

    footer p{
        font-size: .5rem;
    }
}